<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ deviceName | async }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        {{ deviceName | async }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list *ngFor="let parameterGroup of parameters">
    <ion-item>
      <strong>{{parameterGroup.name}}</strong>
    </ion-item>
    <app-parameter *ngFor="let parameter of parameterGroup.parameters" [parameter]="parameter" (valueChanged)="onValueChanged($event)"></app-parameter>
  </ion-list>
  
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Advanced</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let parameterGroup of advancedParameters">
          <ion-item>
            <strong>{{parameterGroup.name}}</strong>
          </ion-item>
          <app-parameter *ngFor="let parameter of parameterGroup.parameters" [parameter]="parameter" (valueChanged)="onValueChanged($event)"></app-parameter>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  
</ion-content>
