<ng-container *ngIf="parameter">
  <ion-item *ngIf="parameter.type === 'slider'">
    <ion-range
      *ngIf="parameter.type === 'slider'"
      [value]="parameter.value"
      labelPlacement="fixed"
      [label]="parameter.label"
      [(ngModel)]="parameter.value"
      [pin]="true"
      (ionChange)="onValueChanged($event, parameter)"></ion-range>

    <!--<ion-range
      [value]="parameter.value"
      [(ngModel)]="parameter.value"
      [pin]="true"
      (ionChange)="onValueChanged($event, parameter)">
    
      <label>{{parameter.label}}</label>
    </ion-range>-->
  </ion-item>

  <ng-container *ngIf="parameter.type === 'dropdown'">
    <ion-item lines="none">
      <ion-select
        [label]="parameter.label"
        placeholder="Please select"
        [(ngModel)]="parameter.value"
        (ionChange)="onValueChanged($event, parameter)">

        <ng-container *ngIf="parameter.listValues">
          <ion-select-option *ngFor="let option of parameter.listValues" [value]="option.id">
            {{ option.name }}
          </ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button slot="end" (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="next()">
        <ion-icon slot="icon-only" name="caret-back-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="previous()">
        <ion-icon slot="icon-only" name="caret-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ng-container>

  <ion-item *ngIf="parameter.type === 'switch'">
    <ion-toggle
      [(ngModel)]="parameter.value"
      (ionChange)="onValueChanged($event, parameter)">

      <ion-label>{{parameter.label}}</ion-label>
    </ion-toggle>
  </ion-item>
</ng-container>